{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name kotoba_module__0__0,
   :params [actor],
   :result
   [:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]],
   :effects #{},
   :body
   (record-new
    [:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]]
    0
    actor),
   :param-types [:i64]}
  {:name kotoba_module__0__1,
   :params [clock],
   :result
   [:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]],
   :effects #{},
   :body
   (record-assoc
    [:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]]
    clock
    :counter
    (+
     1
     (record-get
      [:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]]
      clock
      :counter))),
   :param-types
   [[:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]]]}
  {:name kotoba_module__0__2,
   :params [clock received],
   :result
   [:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]],
   :effects #{},
   :body
   (let
    [local-counter
     (record-get
      [:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]]
      clock
      :counter)
     received-counter
     (record-get
      [:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]
      received
      :counter)]
    (record-assoc
     [:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]]
     clock
     :counter
     (if
      (> received-counter local-counter)
      (+ received-counter 1)
      (+ local-counter 1)))),
   :param-types
   [[:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]]
    [:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]]}
  {:name kotoba_module__0__3,
   :params [left right],
   :result :bool,
   :effects #{},
   :body
   (let
    [left-counter
     (record-get
      [:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]
      left
      :counter)
     right-counter
     (record-get
      [:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]
      right
      :counter)]
    (if
     (< left-counter right-counter)
     true
     (if
      (= left-counter right-counter)
      (if
       (<
        (record-get
         [:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]
         left
         :actor)
        (record-get
         [:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]
         right
         :actor))
       true
       false)
      false))),
   :param-types
   [[:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]
    [:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]]}
  {:name before?,
   :params [left right],
   :result :bool,
   :effects #{},
   :body (kotoba_module__0__3 left right),
   :param-types
   [[:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]
    [:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]]}
  {:name init,
   :params [actor],
   :result
   [:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]],
   :effects #{},
   :body (kotoba_module__0__0 actor),
   :param-types [:i64]}
  {:name observe,
   :params [clock received],
   :result
   [:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]],
   :effects #{},
   :body (kotoba_module__0__2 clock received),
   :param-types
   [[:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]]
    [:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]]}
  {:name tick,
   :params [clock],
   :result
   [:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]],
   :effects #{},
   :body (kotoba_module__0__1 clock),
   :param-types
   [[:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]]]}],
 :oracle-value nil,
 :schema-identities nil,
 :exports [before? init observe tick],
 :schemas nil,
 :effects #{},
 :blocks [],
 :entry nil}
