{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name kotoba_module__0__0,
   :params [actor],
   :result
   [:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]],
   :effects #{},
   :body
   (record-new
    [:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]]
    0
    actor),
   :param-types [:i64]}
  {:name kotoba_module__0__1,
   :params [clock],
   :result
   [:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]],
   :effects #{},
   :body
   (record-assoc
    [:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]]
    clock
    :counter
    (+
     1
     (record-get
      [:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]]
      clock
      :counter))),
   :param-types
   [[:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]]]}
  {:name kotoba_module__0__2,
   :params [clock received],
   :result
   [:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]],
   :effects #{},
   :body
   (let
    [local-counter
     (record-get
      [:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]]
      clock
      :counter)
     received-counter
     (record-get
      [:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]
      received
      :counter)]
    (record-assoc
     [:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]]
     clock
     :counter
     (if
      (> received-counter local-counter)
      (+ received-counter 1)
      (+ local-counter 1)))),
   :param-types
   [[:record :kotoba.crdt/clock [[:counter :i64] [:actor :i64]]]
    [:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]]}
  {:name kotoba_module__0__3,
   :params [left right],
   :result :bool,
   :effects #{},
   :body
   (let
    [left-counter
     (record-get
      [:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]
      left
      :counter)
     right-counter
     (record-get
      [:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]
      right
      :counter)]
    (if
     (< left-counter right-counter)
     true
     (if
      (= left-counter right-counter)
      (if
       (<
        (record-get
         [:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]
         left
         :actor)
        (record-get
         [:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]
         right
         :actor))
       true
       false)
      false))),
   :param-types
   [[:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]
    [:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]]}
  {:name kotoba_module__1__0,
   :params [],
   :result
   [:option
    [:record
     :kotoba.crdt/string-register
     [[:value :string]
      [:stamp
       [:record
        :kotoba.crdt/stamp
        [[:counter :i64] [:actor :i64]]]]]]],
   :effects #{},
   :body
   (option-none-of
    [:option
     [:record
      :kotoba.crdt/string-register
      [[:value :string]
       [:stamp
        [:record
         :kotoba.crdt/stamp
         [[:counter :i64] [:actor :i64]]]]]]]),
   :param-types []}
  {:name kotoba_module__1__1,
   :params [value stamp],
   :result
   [:record
    :kotoba.crdt/string-register
    [[:value :string]
     [:stamp
      [:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]]]],
   :effects #{},
   :body
   (record-new
    [:record
     :kotoba.crdt/string-register
     [[:value :string]
      [:stamp
       [:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]]]]
    value
    stamp),
   :param-types
   [:string
    [:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]]}
  {:name kotoba_module__1__2,
   :params [register],
   :result :string,
   :effects #{},
   :body
   (record-get
    [:record
     :kotoba.crdt/string-register
     [[:value :string]
      [:stamp
       [:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]]]]
    register
    :value),
   :param-types
   [[:record
     :kotoba.crdt/string-register
     [[:value :string]
      [:stamp
       [:record
        :kotoba.crdt/stamp
        [[:counter :i64] [:actor :i64]]]]]]]}
  {:name kotoba_module__1__3,
   :params [left right],
   :result
   [:option
    [:record
     :kotoba.crdt/string-register
     [[:value :string]
      [:stamp
       [:record
        :kotoba.crdt/stamp
        [[:counter :i64] [:actor :i64]]]]]]],
   :effects #{},
   :body
   (option-match
    [:option
     [:record
      :kotoba.crdt/string-register
      [[:value :string]
       [:stamp
        [:record
         :kotoba.crdt/stamp
         [[:counter :i64] [:actor :i64]]]]]]]
    left
    right
    left-register
    (option-match
     [:option
      [:record
       :kotoba.crdt/string-register
       [[:value :string]
        [:stamp
         [:record
          :kotoba.crdt/stamp
          [[:counter :i64] [:actor :i64]]]]]]]
     right
     left
     right-register
     (if
      (kotoba_module__0__3
       (record-get
        [:record
         :kotoba.crdt/string-register
         [[:value :string]
          [:stamp
           [:record
            :kotoba.crdt/stamp
            [[:counter :i64] [:actor :i64]]]]]]
        left-register
        :stamp)
       (record-get
        [:record
         :kotoba.crdt/string-register
         [[:value :string]
          [:stamp
           [:record
            :kotoba.crdt/stamp
            [[:counter :i64] [:actor :i64]]]]]]
        right-register
        :stamp))
      right
      left))),
   :param-types
   [[:option
     [:record
      :kotoba.crdt/string-register
      [[:value :string]
       [:stamp
        [:record
         :kotoba.crdt/stamp
         [[:counter :i64] [:actor :i64]]]]]]]
    [:option
     [:record
      :kotoba.crdt/string-register
      [[:value :string]
       [:stamp
        [:record
         :kotoba.crdt/stamp
         [[:counter :i64] [:actor :i64]]]]]]]]}
  {:name init,
   :params [],
   :result
   [:option
    [:record
     :kotoba.crdt/string-register
     [[:value :string]
      [:stamp
       [:record
        :kotoba.crdt/stamp
        [[:counter :i64] [:actor :i64]]]]]]],
   :effects #{},
   :body (kotoba_module__1__0),
   :param-types []}
  {:name merge-register,
   :params [left right],
   :result
   [:option
    [:record
     :kotoba.crdt/string-register
     [[:value :string]
      [:stamp
       [:record
        :kotoba.crdt/stamp
        [[:counter :i64] [:actor :i64]]]]]]],
   :effects #{},
   :body (kotoba_module__1__3 left right),
   :param-types
   [[:option
     [:record
      :kotoba.crdt/string-register
      [[:value :string]
       [:stamp
        [:record
         :kotoba.crdt/stamp
         [[:counter :i64] [:actor :i64]]]]]]]
    [:option
     [:record
      :kotoba.crdt/string-register
      [[:value :string]
       [:stamp
        [:record
         :kotoba.crdt/stamp
         [[:counter :i64] [:actor :i64]]]]]]]]}
  {:name value,
   :params [register],
   :result :string,
   :effects #{},
   :body (kotoba_module__1__2 register),
   :param-types
   [[:record
     :kotoba.crdt/string-register
     [[:value :string]
      [:stamp
       [:record
        :kotoba.crdt/stamp
        [[:counter :i64] [:actor :i64]]]]]]]}
  {:name write,
   :params [value stamp],
   :result
   [:record
    :kotoba.crdt/string-register
    [[:value :string]
     [:stamp
      [:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]]]],
   :effects #{},
   :body (kotoba_module__1__1 value stamp),
   :param-types
   [:string
    [:record :kotoba.crdt/stamp [[:counter :i64] [:actor :i64]]]]}],
 :oracle-value nil,
 :schema-identities nil,
 :exports [init merge-register value write],
 :schemas nil,
 :effects #{},
 :blocks [],
 :entry nil}
